$brand-black: #1b1b1b;
$brand-blue:  #0f7986;

//Landing Page Layouts
#intro-slice{
  width: 100vw;
  background-color: $brand-blue;

  p:first-of-type{
    padding-top: 70px;
  }

  p:last-of-type{
    padding-bottom: 60px;
  }

  p{
   font-size: 20px;
   text-align: left;
   max-width: 800px;
   padding-left: 110px;
   margin: 0px;
   line-height: 32px;
   padding-right: 30px;
   color: #ffffff;
  }

}

// Responsive Breakpoints
@media only screen and (max-width: 850px) {
  #intro-slice{
    p{
      font-size: 18px;
       line-height: 24px;
    }
  }
}

@media only screen and (max-width: 680px) {
  #intro-slice{
    p:first-of-type{
      padding-top: 50px;
    }

    p{
      padding: 0px 40px;
    }
  }
}

// Text styling
@import 'elements/text-styles';

// Component Stylesheets
@import 'elements/buttons';
@import 'elements/sidenav';
@import 'elements/list';

// Pages
@import 'pages/index';
@import 'pages/about';
@import 'pages/portfolio';