
body#index {
  background-color: $brand-black;
}


#cover-copy{
  padding-top:7%;
  padding-left: 6vw;

    h1{
      font-size: 135px;
      line-height: 110px;
      color: #ffffff;

      &:last-of-type{
        border-bottom: 3px solid #0f7986;
        padding-bottom: 15px;
        max-width: 590px;
      }
    }

    h2{
      margin-top: 20px;
      margin-left: 16px;
      margin-bottom: 24px;
      color: #ffffff;
    }

      #icon-row{
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 28px;

        svg{
          width: 45px;
          height: 45px;
          margin-right: 40px;
          fill: #ffffff;
        }

      }


   #cta-row {
     margin-left: 14px;
   }

}

/* Mobile Breakpoints */

@media only screen and (max-width: 680px) {
  #cover-copy{
      h1{
        font-size: 80px;
        line-height: 80px;
        &:last-of-type{
          max-width: 346px;
        }
      }
      h2{
        margin-right: 45px;
      }

  }
}

@media only screen and (max-width: 440px) {
  #cover-copy{
    padding-top:20%;
      h1{
        font-size: 60px;
        line-height: 60px;
        &:last-of-type{
          max-width: 265px;
        }
      }

      h2{
        margin-top: 8px;
        margin-left: 6px;
      }

        #icon-row{
          margin-left: 6px;

          svg{
            width: 40px;
            height: 40px;
            margin-right: 26px;
          }

        }

     #cta-row {
       margin-left: 8px;
     }

  }
}
