
#portfolio{
  width: 100vw;
  height: 100vh;
  margin: 0;
  
      .content-holder{
        width: 84%;
        margin: auto;
        margin-top: 40px;

        a {
          color: $text-links-colour;
          font-weight: bold;
          &:hover {
          color: $hover-colour;
          }
          &:active {
          color: $hover-colour;
           }
        }

          .content-row{
            clear: both;
            margin-bottom: 80px;

            .copy-holder{
              float: left;
              max-width: 380px;
              margin-right: 40px;
            }

            .image-holder{
              margin-top: -42px;
            }
          }
      }

}

@media only screen and (max-width: 850px) {
  #portfolio{
        .content-holder{
          text-align: center;

          .content-row{
            .copy-holder{
              float: none;
              text-align: center;
              margin: auto;
            }

            .image-holder{
              margin-top: 20px;

              img{
                width: 230px;
              }
            }
          }
       }
  }
}
