
#portfolio{
  #intro-slice{
     height: 200px;
   }

    // Portfolio page content grid using flexbox
      .content-holder{
        width: 1040PX;
        margin: auto;
        margin-top: 40px;

          .content-row{
            clear: both;
            margin-bottom: 80px;

            .copy-holder{
              float: left;
              max-width: 380px;
              margin-right: 40px;
            }

            .image-holder{
              margin-top: -42px;
            }
          }
      }

}
