
#side-nav{
  width: 225px;
  height: 100vh;
  background-color: $brand-black;
  color: #ffffff;
  position: absolute;
  transition: 0.6s;
  z-index: 12;

  ul {
    position: absolute;
    top: 65px;
    right: 102px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: $cta-font;

    li {
      padding: 10px 0px;
    }

    li:hover{
      color: #888888;
    }
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }

  a:hover{
    color: #888888;
  }


}


// Open and Close menu functionality css
#side-nav.closed{
 width:0px;
 overflow: hidden;
}


// MENU Icon
#menu-icon {
  padding-left: 32px;
  padding-bottom: 8px;
  display: inline-block;

    div {
      width: 35px;
      height: 5px;
      background-color: $brand-black;
      margin: 6px 0;
      border-radius: 6px;
    }
}

// CLOSE MENU ICON
#side-nav {
  #close-icon {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 38px;
    height: 38px;
  }

  #close-icon:hover {
    background-color: #484848;
  }

  #close-icon:before, #close-icon:after {
    position: absolute;
    top: 2px;
    left: 18px;
    content: ' ';
    height: 35px;
    width: 2px;
    background-color: #ffffff;
  }
  #close-icon:before {
    transform: rotate(45deg);
  }
  #close-icon:after {
    transform: rotate(-45deg);
  }

}

//Page cover whilst menu is open
#menu-page-filter{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000080;
}

// Responsive Breakpoints
@media only screen and (max-width: 450px) {
    #menu-icon {
      padding-left: 16px;
      padding-bottom: 2px;
  }
}
