// Google Font Load
@import url('https://fonts.googleapis.com/css?family=Muli:700,400');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$body-font: 'Lato', sans-serif;
$header-font: 'Muli', sans-serif;
$cta-font: 'Roboto', sans-serif;
$text-links-colour: #0f7986;
$hover-colour: #06272b;

h1, h2 {
 font-family: $header-font;
 margin: 0px;
}

#about, #portfolio {
  h1{
    font-size: 80px;
    display: inline-block;
    padding-left: 36px;
  }
}

@media only screen and (max-width: 450px) {
  #about, #portfolio {
    h1{
      font-size: 60px;
      padding-left: 10px;
    }
  }
}

h2 {
  font-size: 26px;
}


p {
  font-family:  $body-font;
  font-size: 16px;
  color: #000000;
}

a {
  font-family:  $body-font;
  text-decoration: none;
}
